flask==1.1.1
celery==4.4.0
redis==3.4.1
flask-bootstrap==3.3.7.1
futures
geoip2==3.0.0
gunicorn==20.0.4
requests==2.23.0
itsdangerous==1.1.0
Jinja2==2.11.1
urllib3==1.26.5
MarkupSafe==1.1.1
maxminddb==1.5.2
maxminddb-geolite2==2018.703
Pillow==8.2.0
python-geoip==1.2
simplejson==3.17.0
uWSGI==2.0.18
virtualenv==20.0.4
Werkzeug==1.0.0

