flask==1.1.1
flask-bootstrap==3.3.7.1
geoip2==2.9.0
gunicorn==19.9.0
requests==2.21.0
itsdangerous==1.1.0
Jinja2==2.10.1
urllib3>=1.24.2
MarkupSafe==1.1.0
maxminddb==1.4.1
maxminddb-geolite2==2018.703
Pillow>=3.3.2
python-geoip==1.2
simplejson==3.6.0
uWSGI==2.0.18
virtualenv==16.7.4
Werkzeug==0.15.5

