{% extends "bootstrap/base.html" %}

{% block title %}Blocked IP{% endblock %}

{% block head %}
{{ super() }}
<meta charset="utf-8">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" type="image/x-icon" href="static/favicon.ico" />

<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
<!-- Generic page styles -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fileupload.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fileupload-ui.css') }}">

{% endblock %}

{% block navbar %}
<div class="logoWrap">
    <img class="logVizLogo" src="{{ url_for('static', filename='img/logvizv3.png') }}">
    <h3 class="pl-2">LogViz</h3>
</div>
{% endblock %}

{% block content %}
<!-- flash messages -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class='flashes alert alert-success blockedIpStyle' role='alert'>
    {% for message in messages %}
      <p>Successfully executed:</p>
      <p>"{{ message }}"</p>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
{% endblock %}

{% block scripts %}
<!-- jquery for redirect in flash block below -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
			  crossorigin="anonymous"></script>
<script>
  jQuery(window).ready(function() {
     setTimeout(function(){ window.history.back() }, 3000);
    });
</script>
{{ super() }}
{% endblock %}
